#root {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

.App {
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(3rem);
  color: white;
  margin-bottom: 0.4em
}

.navbar-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #eff2f4;
}

body {
  margin-top: 1rem;
}

.navbar-root .ant-menu-item {
  color: rgb(15, 13, 13);
}

.navbar-root .ant-menu-item:hover {
  background-color: #1890ff;
  color: white;
}

.Input {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
/*
.Button {
  margin-left: 5rem;
} */

/* TODO: get rid of pixels,  */
